<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
    <add assembly="NLog.Loki"/>
  </extensions>
  
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/fitness-${shortdate}.log">
      <layout>${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}</layout>
    </target>
    
    <target name="logconsole" xsi:type="Console">
      <layout>${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}</layout>
    </target>
    
    <target name="loki" xsi:type="loki"
            batchSize="200"
            taskDelayMilliseconds="500"
            endpoint="http://loki:3100"
            username=""
            password=""
            orderWrites="true"
            compressionLevel="noCompression"
            layout="${level}|${message}${onexception:|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}" >
      <label name="app" layout="${environment:SERVICE_NAME:whenEmpty=FitnessApp}" />
      <label name="server" layout="${hostname:lowercase=true}" />
    </target>
  </targets>
  
  <rules>
    <!-- Suppress Microsoft framework noise completely -->
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Off" final="true" />
    <logger name="Microsoft.AspNetCore.*" maxlevel="Warn" final="true" />
    <logger name="Microsoft.Hosting.*" maxlevel="Warn" final="true" />
    <logger name="Microsoft.*" maxlevel="Warn" final="true" />
    <logger name="System.*" maxlevel="Warn" final="true" />
    
    <!-- Your application logs - Debug level to all targets -->
    <logger name="*" minlevel="Debug" writeTo="logfile,logconsole,loki" />
  </rules>
  
</nlog>