@using Microsoft.AspNetCore.Components.Routing

<nav class="bottom-nav" aria-label="Bund navigation">
    <NavLink class="bn-item" href="/dashboard" Match="NavLinkMatch.All" aria-label="Hjem">
        <span class="bn-ico" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M3 10.5L12 3l9 7.5"></path>
                <path d="M5 9.8V21h14V9.8"></path>
            </svg>
        </span>
        <span class="bn-lbl">Hjem</span>
    </NavLink>

    <NavLink class="bn-item" href="/training" aria-label="Træning">
        <span class="bn-ico" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M6 7h2v10H6z"></path>
                <path d="M16 7h2v10h-2z"></path>
                <path d="M8 10h8"></path>
                <path d="M8 14h8"></path>
                <path d="M4 9h2"></path>
                <path d="M18 9h2"></path>
                <path d="M4 15h2"></path>
                <path d="M18 15h2"></path>
            </svg>
        </span>
        <span class="bn-lbl">Træning</span>
    </NavLink>

    <NavLink class="bn-item" href="/classes" aria-label="Hold">
        <span class="bn-ico" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M7 3v3"></path>
                <path d="M17 3v3"></path>
                <path d="M4 8h16"></path>
                <path d="M5 6h14a1 1 0 0 1 1 1v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7a1 1 0 0 1 1-1z"></path>
                <path d="M8 12h3"></path>
                <path d="M8 16h6"></path>
            </svg>
        </span>
        <span class="bn-lbl">Hold</span>
    </NavLink>

    <NavLink class="bn-item" href="/feedpage" aria-label="Fællesskab">
        <span class="bn-ico" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M17 21v-2a4 4 0 0 0-4-4H7a4 4 0 0 0-4 4v2"></path>
                <path d="M12 7a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                <path d="M21 21v-2a3.5 3.5 0 0 0-3-3.45"></path>
                <path d="M18 3.65a4 4 0 0 1 0 7.7"></path>
            </svg>
        </span>
        <span class="bn-lbl">Fællesskab</span>
    </NavLink>

    <NavLink class="bn-item" href="/access" aria-label="Adgang">
        <span class="bn-ico" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M20 21V7a2 2 0 0 0-2-2h-5"></path>
                <path d="M16 21V9a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v12"></path>
                <path d="M8 7V5a4 4 0 1 1 8 0v2"></path>
            </svg>
        </span>
        <span class="bn-lbl">Adgang</span>
    </NavLink>
</nav>
