@inherits LayoutComponentBase

<div class="app-shell">
    <div class="phone-frame">
        <TopBar />

        <div class="phone-screen screen-body">
            @Body
        </div>

        <BottomNav />
    </div>
</div>