services:
  mongodb:
    image: mongo:latest
    hostname: mongodb
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: abfmfitlifeskibidi
    ports:
      - 27017:27017
    volumes:
      - mongodb-data:/data/db
    networks:
      - skibidi

  loki:
    image: grafana/loki
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - skibidi

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - loki
    networks:
      - skibidi
volumes:
  mongodb-data:
  grafana_data:
  rabbitmq_data:

networks:
  skibidi:
    external: true